@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }
  
  body {
    @apply antialiased;
  }
  
  html {
    @apply overflow-x-hidden;
  }
}

/* Orbit rotation animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
